news_gmail_send.json
{
  "name": "news_gmail_send",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4a2510c8-2723-436f-a82c-e4bc89be40f0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?country=us&apiKey=e1dadd900de04ba293c77abd7d909070",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "f68e205b-7b32-4b5b-86f2-ccff3a5ffc31",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=너는 신문 기자야. 아래 기사 제목들을 모두 모아서 5개 항목으로 정리 해줘. 영어는 한국어로 번역해줘.  그리고 제목을 알아서 작성하여 gmail로 전송해줘    {{ $json.articles[0].title }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "79fa5df1-7682-4ce9-a2f8-3e90e09ea4c7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        192
      ],
      "id": "f16d5ece-0158-46b9-8a41-246a48e40ac4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SCOCjojXgTgFbopO",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jikim@imguru.co.kr",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        592,
        176
      ],
      "id": "7da925de-1f9b-4d78-acd4-b188e0fdc5f1",
      "name": "Send a message in Gmail",
      "webhookId": "b1c2f083-e61a-496a-9e01-97ee23dcdc42",
      "credentials": {
        "gmailOAuth2": {
          "id": "XyuELEzGd0IU9MDI",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ebfbcc3-e7b2-4faa-b239-5ec22345bc5e",
  "meta": {
    "instanceId": "7cbd73fc6897b517cdad89157addf127e6e845ad080e7385450ca8d3c68c3be6"
  },
  "id": "kbgg8oRw5KIhVV0l",
  "tags": []
}